<div class="apply-crash">
    <div class="apply-crash-top border-bottom">
        <p class="top">
            到账银行卡
        </p>
        <p class="bottom">
            {{card_info.bank_id != 659004728 ? card_info.bank_name : card_info.other_bank_name }} {{card_info.credit_card}}
        </p>
    </div>
    <div class="apply-crash-middle" ng-click="onFocus()">
        <div class="border-bottom">
            <p>
                提现金额
            </p>
            <div class="crash-wrap">
                <input id="input" type="number" placeholder="输入提现金额" ng-model="crashTemp" ng-change="crashInput()" oninput="if(value.length>9)value=value.slice(0,9)">
                <div class="crash-input" ng-click="onFocus()">
                <span ng-show="crash.length > 0">
                    ￥
                </span>
                    {{crash}}
                </div>
            </div>
        </div>
    </div>
    <div class="apply-crash-bottom border-bottom">
        <p>
            可提现金额：¥{{card_info.money ? card_info.money : 0.00}}
        </p>
    </div>
    <div class="button">
        <button class="small-button" ng-click="extractCash()">确认</button>
    </div>
    <div class="js_dialog" id="iosDialog2" ng-show="dialog">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">请输入提现金额</div>
            <div class="weui-dialog__ft">
                <a ng-click="dialogHide()" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>

</div>