<div class="change-password">
    <h4>验证旧密码</h4>
    <div class="password-input">
        <input id="old-password" type="number" ng-model="password" ng-change="pswChanged(password);" oninput="if(value.length>6)value=value.slice(0,6)">
        <label for="old-password">
            <ul>
                <li><i ng-if="len > 0"></i></li>
                <li><i ng-if="len > 1"></i></li>
                <li><i ng-if="len > 2"></i></li>
                <li><i ng-if="len > 3"></i></li>
                <li><i ng-if="len > 4"></i></li>
                <li><i ng-if="len > 5"></i></li>
            </ul>
        </label>
    </div>
    <input class="small-button" type="button" value="下一步" ng-click="goNext();">
    <span ui-sref="app.forget-password({type: 3})" class="forget-password">忘记密码</span>
</div>