<div class="check-express">
	<div ng-show="formData.tracking && formData.tracking.content">
		<div class="title">
			<p>
				快递单号：{{formData.tracking.number}}
			</p>
		</div>
		<div class="express-info-list">
			<ul>
				<li ng-repeat="items in formData.tracking.content">
					<p class="icon">{{items.time}}</p>
					<p class="b-border">{{items.context}}</p>
				</li>
			</ul>
		</div>
	</div>
	<div ng-show="!formData.tracking || !formData.tracking.content.length" class="save-info-success">
		<div class="tips">
			<img src="img/default_logistics.png">
			<h4>暂无相关物流数据，如有疑问，可联系厂家</h4>
		</div>
		<div class="foot">
			<div class="phone" ng-click="openTell(formData.factory.linkphone)">
				<span>厂家热线：{{formData.factory.linkman}}  {{formData.factory.linkphone}}</span>
				<em></em>
			</div>
		</div>
	</div>
</div>
