<div class="deal-flow-status bg-white">
	<div class="items">
		<span>申请状态：</span>
		<span>{{costStatusList[formData.cost_status]}}</span>
	</div>
	<div class="items" ng-if="formData.is_cs_check == 2">
		<span>审核备注：</span>
		<span>{{formData.cs_remarks == "" ? "— —":formData.cs_remarks}}</span>
	</div>
	<div class="items" ng-if="formData.is_check == 2">
		<span>审核备注：</span>
		<span>{{formData.remarks == "" ? "— —":formData.remarks}}</span>
	</div>
	<div class="items">
		<span>费用单号：</span>
		<span>{{formData.cost_order_number}}</span>
	</div>
	<div class="items">
		<span>创建时间：</span>
		<span>{{formData.addtime * 1000 | date:"yyyy-MM-dd HH:mm"}}</span>
	</div>
	<div class="items">
		<span>费用类型：</span>
		<span>{{costTypeList[formData.cost_type]}}</span>
	</div>
	<div class="items">
		<span>申请金额：</span>
		<span>￥{{formData.money}}</span>
	</div>
	<div class="items">
		<span>凭证：</span>
		<p ng-show="!formData.cost_img">
			----
		</p>
		<div class="img-list">
			<img ng-src="{{items.url_full}}" ng-repeat="items in formData.cost_img">
		</div>
	</div>
	<div class="items">
		<span>备注：</span>
		<p ng-if="formData.worker_remarks != '' || formData.cost_use != ''">
			{{formData.worker_remarks == "" ? formData.cost_use :formData.worker_remarks}}
		</p>
		<p ng-if="formData.worker_remarks == '' && formData.cost_use == ''">
			----
		</p>
	</div>
</div>
