<div class="details-of-charges">
	<div style="background-color:#fff;">
		<div class="status">
			<p>结算状态:{{order_status_arr[coust_type_status]}}</p>
			<!-- <span>工单已结算</span> -->
		</div>
		<div  ng-if="had_return_acce == 2 && coust_type_status == 1" class="tips">
			<p>您还有未返件工单，请尽快处理，方才结算费用，如有任务疑问，请与客服联系。</p>
			<span>
				注：当前金额不是最终结算金额，最终以财务审核通过后的金额为准。
			</span>
		</div>

		<div  ng-if="had_return_acce == 1  && coust_type_status == 1" class="tips">
			<p>当前金额不是最终结算金额，最终以财务审核通过后的金额为准。</p>
		</div>

		<div  ng-if="coust_type_status == 2" class="tips">
			<p>如有任何疑问，请与客服联系。</p>
		</div>

		<div class="container">
			<div ng-if="service.length" class="items">
				<h4>维修费用：</h4>
				<p ng-repeat="v in service">
					<!-- <span>{{product_cate_name}}{{service_type == '1' ? '报装' : '安装'}}费</span> -->
					<span>{{v.type_desc}}</span>
					<span>￥{{v.price_modify}}</span>
				</p>
			</div>
			<div ng-if="signin.length" class="items">
				<h4>上门费用：</h4>
				<p ng-repeat="v in signin">
					<span>{{v.type_desc}}</span>
					<span>￥{{v.price_modify}}</span>
				</p>
				<p class="f-font12 color-9">*本单上门费计算方式为：{{homefee_model_arr[homefee_model]}}</p>
			</div>
			<!-- <div ng-if="acce.length" class="items">
				<h4>费用申请：</h4>
				<p ng-repeat="v in acce">
					<span>{{v.type_desc}}</span>
					<span>￥{{v.price_modify}}</span>
				</p>
			</div> -->
			<div ng-if="cost.length" class="items">
				<h4>费用申请：</h4>
				<p ng-repeat="v in cost">
					<!-- <span>{{v.type_desc}}</span> -->
					<span ng-if="v.type != 3">{{v.type_desc}}</span>
					<span ng-if="v.type == 3">返厂配件运费</span>
					<span>￥{{v.price_modify}}</span>
				</p>
			</div>
			<div ng-if="area.length" class="items">
				<h4>地区补贴：</h4>
				<p ng-repeat="v in area">
					<span>{{v.type_desc}}</span>
					<span>￥{{v.price_modify}}</span>
				</p>
			</div>
			<div ng-if="cscost.length" class="items">
				<h4>工单补贴：</h4>
				<p ng-repeat="v in cscost">
					<span>{{v.type_desc}}</span>
					<span>￥{{v.price_modify}}</span>
				</p>
			</div>
			<div ng-if="insurance_cost.length" class="items">
				<h4>保险费用：</h4>
				<p ng-repeat="v in insurance_cost">
					<span>保险费用</span>
					<span ng-if="v.price_modify < 0">-￥{{(-v.price_modify).toFixed(2)}}</span>
					<span ng-if="v.price_modify > 0">￥{{v.price_modify}}</span>
				</p>
			</div>
		</div>
		<div class="count">
			合计：
			<span ng-if="count_price < 0">-￥{{(-count_price).toFixed(2)}}</span>
			<span ng-if="count_price > 0">￥{{count_price.toFixed(2)}}</span>
		</div>
		<div class="remarks" ng-if="is_show_BZ">
			<h4>备注：</h4>
			<p>
				<span ng-repeat="v in service" ng-show="v.price != v.price_modify">
					{{product_cate_name}}维修金调整：{{v.modify_desc ? v.modify_desc : '————'}}
					<!-- {{v.type_desc}}维修金调整：{{v.modify_desc ? v.modify_desc : '————'}} -->
				</span>
			</p>
			<p>
				<span ng-repeat="v in signin" ng-show="v.price != v.price_modify">
					{{v.type_desc}}调整：{{v.modify_desc ? v.modify_desc : '————'}}
				</span>
			</p>
			<p>
				<span ng-repeat="v in area" ng-show="v.price != v.price_modify">
					{{v.type_desc}}调整：{{v.modify_desc ? v.modify_desc : '————'}}
				</span>
			</p>
		</div>
	</div>
</div>
