<div class="lb-price">
    <ul>
        <li class="product-f" ng-click="productFirOpen($event)" ng-class="!fChoose ? 'fir-is-choose' : ''">
            <span></span>
            <h4>
                请选择产品类别
            </h4>
            <p>
                {{fChoose}}
            </p>
        </li>
        <ul class="product-f-details" ng-show="!fChoose">
            <li ng-repeat="first in category_first" ng-click="productFirClose(first)">
                {{first.item_desc}}
            </li>
        </ul>
        <li class="product-s" ng-click="productSecOpen()" ng-class="(fChoose && !sChoose) ? 'sec-is-choose' : ''">
            <span></span>
            <h4>
                选择产品二级分类
            </h4>
            <p>
                {{sChoose}}
            </p>
        </li>
        <ul class="product-s-details" ng-show="fChoose && !sChoose">
            <li ng-repeat="second in category_second" ng-click="productSecClose(second)">
                {{second.item_desc}}
                <span></span>
            </li>
        </ul>
        <li class="product-standard" ng-click="productStandardOpen()" ng-class="thiShow ? 'th-is-choose' : ''">
            <span></span>
            <h4>
                选择产品规格
            </h4>
            <p>
                {{tChoose}}
            </p>
        </li>
        <ul class="product-standard-details" ng-show="thiShow">
            <span ng-repeat="si in standard">
                <li ng-click="productStandardClose(si,$event)">
                    {{si.standard_name}}
                    <span ng-class="{'hover': tChooseId == si.standard_id}"></span>
                </li>
                <div ng-if="tChooseId == si.standard_id">
                    <table align="center" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>类别</td>
                            <td>服务项</td>
                            <td>服务价</td>
                        </tr>
                        <tr ng-repeat="categories in ln_data.price[sChooseId+'_'+si.standard_id]">
                            <td ng-if="categories.num" rowspan="{{categories.num}}">{{categories.category}}</td>
                            <td>{{categories.fault_name}}</td>
                            <td>¥{{categories.worker_in_price ? categories.worker_in_price : '0.00'}}</td>
                        </tr>
                    </table>
                </div>
            </span>
        </ul>
    </ul>
    <div class="js_dialog" id="iosDialog2" ng-show="dialog">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">请先选择上一级分类</div>
            <div class="weui-dialog__ft">
                <a ng-click="dialogHide()" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
</div>