<div ng-if="card_info.credit_card" class="my-card">
    <div class="crad-details" ui-sref="app.card-details">
        <h3>
            {{is_other_bank ? card_info.other_bank_name : card_info.bank_name}}
        </h3>
        <span>
            {{card_info.bank_cardtype}}
        </span>
        <p>
            {{card_info.credit_card}}
        </p>
    </div>
</div>


<div ng-if="!card_info.credit_card" class="add-card">
    <div class="card-details" ng-click="goAddCardInfo();">
    <!-- <div class="card-details" ui-sref="app.card-details"> -->
        <h3>
            添加银行卡
        </h3>
    </div>
</div>