<div class="my-info">
	<ul>
		<li>
			<span class="title">
				姓名
			</span>
			<input type="text" ng-model="update.nickname" placeholder="输入姓名" ng-disabled="update.is_complete_info == 1">
		</li>
		<li ng-click="selectAreas()" style="align-items:center;">
			<span class="title">
				所在区域
			</span>
			<input type="text" ng-model="update.worker_address" placeholder="请选择所在区域" disabled>
			<em></em>
		</li>
		<li>
			<span class="title">
				详细地址
			</span>
			<input type="text" ng-model="update.worker_detail_address" placeholder="输入详细地址" ng-disabled="update.is_complete_info == 1">
		</li>
		<li ng-if="is_hash || update.is_complete_info != 1">
			<span class="title">
				身份证号码
			</span>
			<input type="text" ng-model="update.card_no" placeholder="输入身份证号码">
		</li>
		<li ng-if="is_hash || update.is_complete_info != 1">
			<span class="title">
				身份证照片
			</span>
			<dl class="img-list">
				<!-- <dd ng-if="images.length">
					<wx-img ng-click="selectImg()" ng-repeat="url in images track by $index"></wx-img>
				</dd>
				<dd ng-if="images2.length">
					<wx-img ng-click="selectImg2()" ng-repeat="url in images2 track by $index"></wx-img>
				</dd> -->
				<dd>
					<wx-img ng-click="selectImg()" ng-repeat="url in images track by $index"></wx-img>
				</dd>
				<dd>
					<wx-img ng-click="selectImg2()" ng-repeat="url in images2 track by $index"></wx-img>
				</dd>
			</dl>
		</li>
	</ul>
	<div class="button" ng-if="update.is_complete_info != 1">
		<input ng-click="submitWorker()" class="small-button" type="button" value="保存">
	</div>
</div>
