<div class="order-details">
	<div class="content">
		<p>
			<span>
				服务类型：{{orderType[orderDetailsData.order_type]}}
			</span>
			<e>
				<span ng-show="orderDetailsData.order_type == 1" class="show-tag tag-color-1">维修</span>
				<span ng-show="orderDetailsData.order_type == 2" class="show-tag tag-color-2">安装</span>
				<span ng-show="orderDetailsData.order_type == 4" class="show-tag tag-color-3">送修</span>
				<span ng-show="orderDetailsData.in_or_out == 2" class="show-tag tag-color-4">保外</span>
				<span ng-show="orderDetailsData.in_or_out == 1" class="show-tag tag-color-5">保内</span>
				<span ng-show="orderDetailsData.details.length > 1" class="show-tag tag-color-6">多产品</span>
			</e>
		</p>
		<div class="status-flex">
			<div>
				<p>
					<span>
						工单编号：{{orderDetailsData.orno}}
					</span>
				</p>
				<p>
					<span>
						工单状态：<e>{{orderStatus[orderDetailsData.order_status]}}</e>
					</span>
				</p>
				<p>
					<span>
						接单时间：{{orderDetailsData.receive_time * 1000 | date:"yyyy-MM-dd HH:mm"}}
					</span>
				</p>
			</div>
			<div ng-show="orderDetailsData.order_status == 5">
				<img src="img/big_complete.png">
			</div>
		</div>
		<p ng-show="orderDetailsData.order_status == 5">
			<span>
				服务评价：满意<em class="appraise"></em>
			</span>
		</p>
		<div ng-show="orderDetailsData.order_status == 2">
			<p>
				<span ng-if="orderDetailsData.will_signin_time">
					预约时间: {{orderDetailsData.will_signin_time * 1000 | date:"yyyy-MM-dd HH:mm"}}
				</span>
				<span ng-if="!orderDetailsData.will_signin_time">
					预约时间: 未再次预约
				</span>
				<span class="blue" ui-sref="app.appointment-history({orderId:orderDetailsData.order_id})">
					预约历史
				</span>
			</p>
		</div>
		<div ng-show="orderDetailsData.order_status == 3">
			<p>
				<span ng-if="orderDetailsData.will_signin_time">
					预约时间: {{orderDetailsData.will_signin_time * 1000 | date:"yyyy-MM-dd HH:mm"}}
				</span>
				<span ng-if="!orderDetailsData.will_signin_time">
					预约时间: 未再次预约
				</span>
				<span class="blue" ui-sref="app.appointment-history({orderId:orderDetailsData.order_id})">
					预约历史
				</span>
			</p>
			<p ng-show="appoint_signin_time">
				<span>
					上次上门时间: {{orderDetailsData.appoint_signin_time * 1000 | date:"yyyy-MM-dd HH:mm"}}
				</span>
			</p>
		</div>
		<!-- <p ng-show="orderDetailsData.appoint_signin_status != 0">
			签到后，请尽快上传服务报告
		</p> -->
		<p class="time" ng-hide="orderDetailsData.order_status > 2" style="margin-top:-5px;">
			{{returnExtendType(orderDetailsData.order_extend_type,orderDetailsData.order_extend_desc)}}
		</p>
		<div class="operation" ng-show="orderDetailsData.order_status > 1 && orderDetailsData.order_status < 4">
			<ul>
				<li ui-sref="app.order-trace({type:1,orderId:orderDetailsData.order_id})"><a href="javascript:void(0)">工单跟踪</a></li>
				<li ng-click="updateAppointment(orderDetailsData.appoint_signin_status)"><a href="javascript:void(0)">{{orderDetailsData.appoint_signin_status != 0 ? '再次预约':'修改预约'}}</a></li>
				<li ng-click="checkIn()" ng-class="{'cur':orderDetailsData.appoint_signin_status != 0}"><a href="javascript:void(0)">{{orderDetailsData.appoint_signin_status != 0?"已签到":"签到"}}</a></li>
			</ul>
		</div>
		<div class="operation" ng-show="orderDetailsData.order_status > 3">
			<ul>
				<li ui-sref="app.order-trace({type:1,orderId:orderDetailsData.order_id})"><a href="javascript:void(0)">工单跟踪</a></li>
			</ul>
		</div>
	</div>
	<div class="user-info">
		<div class="title">
			<b>用户信息</b>
			<a ng-click="SMS()">
				<span>
					短信转发
				</span>
			</a>
		</div>
		<div class="container">
			<div class="info">
				<p>
					{{orderDetailsData.full_name}}  {{orderDetailsData.tell}}
				</p>
				<p>
					{{orderDetailsData.area_desc.split('-')[2]}}{{orderDetailsData.address}}
				</p>
				<p class="path">
					路线里程  {{orderDetailsData.est_miles}}公里
				</p>
			</div>
			<div class="map" ui-sref="app.order-list.map({lat:orderDetailsData.lat,lng:orderDetailsData.lng,content:orderDetailsData.address})">
				<span>地图</span>
			</div>
		</div>
	</div>
	<div class="product-info">
		<div class="title">
			<b>产品信息</b>
		</div>
		<div class="areas" ng-repeat="items in orderDetailsData.details">
			<div class="proname">
				<div class="flex">
					<div class="img">
						<img ng-src="{{items.product_thumb_full}}" alt="">
					</div>
					<div class="size">
						<h4>{{items.servicebrand_desc}}{{items.product_cate_name}}</h4>
						<p>产品规格：{{items.stantard_desc}}</p>
					</div>
				</div>
				<div class="status" ng-show="items.detail_is_complete != 0">
					<img src="img/tag_done.png">
				</div>
			</div>
			<div class="info">
				<div class="tit" ng-if="items.servicefault_desc">
					产品故障信息
				</div>
				<div class="failure-list" ng-if="items.servicefault_desc">
					<ul ng-show="items.servicefault_desc">
						<li ng-repeat="items in items.servicefault_desc.split(',')">
							{{items}}
						</li>
					</ul>
					<p ng-show="!items.servicefault_desc" style="padding-bottom:5px;">
						暂无选择故障标签
					</p>
				</div>
				<div class="tit">
					要求备注
				</div>
				<div class="remark">
					{{items.description == ""?"暂无备注":items.description}}
				</div>
				<div class="tit" ng-show="items.fault_desc">
					服务项目
				</div>
				<div class="project">
					{{items.fault_desc}}
				</div>
				<div class="tit" ng-if="items.detail_is_complete > 0 || items.order_extend_type">
					最新进度
				</div>
				<div class="project" ng-if="items.detail_is_complete > 0 || items.order_extend_type">
					<span ng-show="items.detail_is_complete == 0">
						{{items.order_extend_desc}}
					</span>

					<span ng-hide="items.detail_is_complete == 0">
						{{items.detail_is_complete == 1 ? '服务已完成' : '无法完成服务'}}
					</span>

				</div>
			</div>
		</div>
		<!-- <div class="areas">
			<div class="proname">
				<div class="img">
					<img src="../" alt="">
				</div>
				<div class="size">
					<h4>阿尔卑斯电视机</h4>
					<p>产品规格：50寸</p>
				</div>
			</div>
			<div class="info">
				<div class="tit">
					产品故障信息
				</div>
				<div class="failure-list">
					<ul>
						<li>
							触摸开关不灵
						</li>
						<li>
							触摸开关不灵
						</li>
					</ul>
				</div>
				<div class="tit">
					要求备注
				</div>
				<div class="remark">
					这个是我的VIP客户，麻烦服务好一点，尽可能满足客户的理性要求。要求上传现场图片。
				</div>
				<div class="tit">
					服务项目
				</div>
				<div class="project">
					电视机故障类别中袖
				</div>
			</div>
		</div> -->
	</div>
	<div style="height:50px;"></div>
	<div class="float-bottom">
		<span ng-click="callShow()">拨打电话</span>
		<div class="right" ng-show="orderDetailsData.order_status > 0 && orderDetailsData.order_status < 4 ">
			<input ng-click="partProgress()" ng-show="(orderDetailsData.order_status == 2 || orderDetailsData.order_status == 3) && orderDetailsData.had_acce_order == 2" class="small-button-2" type="button" value="配件进度">
			<input ui-sref="app.check-order-express({'expressId': orderDetailsData.order_id})" ng-show="orderDetailsData.order_status == 1 && orderDetailsData.servicetype == 110" class="small-button-2" type="button" value="查看物流">
			<input ng-click="uploadClick()" ng-show="orderDetailsData.order_status == 1" class="small-button" type="button" value="上传预约">
			<input ng-click="uploadReport(orderDetailsData.details)" ng-show="orderDetailsData.order_status == 2 || orderDetailsData.order_status == 3" class="small-button" type="button" value="上传服务报告">
		</div>
		<!-- <div class="right" ng-show="orderDetailsData.order_status == 4 || orderDetailsData.order_status == 5">
			<e ng-show="orderDetailsData.order_extend_type == 5">服务费用￥{{orderDetailsData.order_extend_desc}}</e>
		</div> -->
		<div class="right" ng-show="orderDetailsData.order_status == 4 || orderDetailsData.order_status == 5">
			<input ng-click="returnPart()" ng-show="orderDetailsData.had_return_acce == 2" class="small-button-2" type="button" value="回寄配件">
			<input ui-sref="app.details-of-charges({orderId:orderDetailsData.order_id})" ng-show="orderDetailsData.order_extend_type == 5" class="small-button" type="button" value="{{orderDetailsData.order_extend_desc}}">
		</div>
	</div>
	<div class="show-box" ng-show="isCall" ng-click="hideCall()">
		<div class="box">
			<ul>
				<li ng-show="orderDetailsData.order_cs_phone" ng-click="callTel(orderDetailsData.order_cs_phone)">
					<div>
						客服：{{orderDetailsData.order_cs_name}}  {{orderDetailsData.order_cs_phone}}
					</div>
					<a></a>
				</li>
				<li ng-show="orderDetailsData.tell" ng-click="callTel(orderDetailsData.tell)">
					<div>
						用户：{{orderDetailsData.full_name}}  {{orderDetailsData.tell}}
					</div>
					<a></a>
				</li>
				<li ng-show="orderDetailsData.technology_phone" ng-click="callTel(orderDetailsData.technology_phone)">
					<div>
						工程师：{{orderDetailsData.technology_name}}  {{orderDetailsData.technology_phone}}
					</div>
					<a></a>
					<!-- <a href="tel:{{orderDetailsData.technology_phone}}"></a> -->
				</li>
				<li ng-show="!orderDetailsData.technology_phone && !orderDetailsData.order_cs_phone" ng-click="callTel(4008309995)">
					<div>
						 客服电话  4008309995
					</div>
					<a></a>
				</li>
			</ul>
			<div class="title">
				<b>拨打电话</b>
			</div>
		</div>
	</div>
</div>
