<div class="part-details">

	<div class="status bg-white" ng-if="tag_image">
		<img ng-src="{{tag_image}}" />
	</div>

	<div class="status-info bg-white" style="margin-top:0;">
		<h4>配件单申请信息</h4>
		<div class="items">
			<span class="title">配件单号：</span>
			<span>{{formData.acce_order_number}}</span>
		</div>
		<div class="items">
			<span class="title">创建时间：</span>
			<span>{{formData.addtime * 1000 | date:"yyyy-MM-dd HH:mm"}}</span>
		</div>
		<div class="items">
			<span class="title">配件单状态：</span>
			<p class="items-status">
				<span>{{statusList[formData.acce_status]}}</span>
				<!-- <a ui-sref="app.check-express({expressId:formData.id})" ng-if="formData.acce_status > 3 && formData.acce_status != 8 && formData.acce_status !=9">物流查询</a> -->
				<a ui-sref="app.check-express({expressId:formData.id})" ng-if="formData.is_fact_send == 1">物流查询</a>
			</p>
			<em ng-if="formData.is_fact_send == 1"></em>
		</div>
		<div class="items" ng-show="formData.acce_status == 8">
			<span class="title">审核备注</span>
			<span>{{formData.cs_reply ? formData.cs_reply : '----'}}</span>
		</div>
		<div class="items" ng-show="formData.acce_status == 9">
			<span class="title">审核备注</span>
			<span>{{formData.reply ? formData.reply : '----'}}</span>
		</div>
		<!-- <div class="items">
			<span class="title">配送方式：</span>
			<span>023344867322</span>
		</div> -->
		<div ng-show="formData.estimate_so_time != 0" class="items">
			<span class="title">预计发货时间：</span>
			<span>{{formData.estimate_so_time * 1000 | date:"yyyy-MM-dd HH:mm"}}</span>
		</div>
	</div>
	<div class="consignee-info bg-white">
		<h4>收件人信息</h4>
		<p>
			<span>{{formData.applicant}}</span>&nbsp;&nbsp;
			<span>{{formData.applicant_tell}}</span>
		</p>
		<p>{{formData.receiving_address}}</p>
	</div>
	<div class="part-info bg-white">
		<h4>配件清单</h4>
		<div ng-repeat="items in formData.details">
			<a href="javascript:void(0)">{{items.acce_name}}</a>
			<p>
				<span>数量：</span>
				<span>{{items.nums}}</span>
			</p>
			<p>
				<span>描述：</span>
				<span>{{items.remarks}}</span>
			</p>
			<p>
				<span>编码：</span>
				<span>{{items.acce_code ? items.acce_code : items.acce_model}}</span>
			</p>
		</div>
	</div>
	<div class="part-img bg-white" ng-show="formData.acce_photos.length">
		<h4>旧件照片</h4>
		<div class="img-list">
			<img ng-repeat="items in formData.acce_photos" ng-src="{{items.url_full}}" alt="">
		</div>
	</div>
	<div class="factory-message bg-white" ng-show="formData.apply_reason">
		<h4>我的留言</h4>
		<p>
			{{formData.apply_reason}}
		</p>
	</div>
	<div class="factory-message bg-white" ng-show="formData.reply">
		<h4>厂家留言</h4>
		<p>
			{{formData.reply}}
		</p>
	</div>
	<div ng-if="formData.acce_status == 4">
		<div class="fixed-button-area"></div>
		<div class="fixed-button" ng-click="signPart(formData.id)">
			<a href="javascipt:void(0)">确认签收</a>
		</div>
	</div>
	<div ng-if="formData.acce_status == 5">
		<div class="fixed-button-area"></div>
		<div class="fixed-button" ui-sref="app.return-part({partId:formData.id})">
			<a href="javascipt:void(0)">回寄配件</a>
		</div>
	</div>
</div>
