<div class="return-history">
    <div style="height:100%;overflow:scroll" ng-show="feedbacks">
        <ul
        infinite-scroll='loadMore()'
        infinite-scroll-disabled='busy'
        infinite-scroll-parent="true"
        infinite-scroll-immediate-check="false"
        infinite-scroll-distance='0'
        style="padding-bottom:60px;">
            <li class="return-history-list border-bottom" ng-repeat="v in feedbacks"  ui-sref="app.return-details({id : v.id})">
                <div>
                    <h4>
                        {{feedbacks_type[v.type] ? feedbacks_type[v.type] : '其他反馈'}}
                        <img ng-if="v.status == 1" ng-src="./img/words_reply.png" class="factory-return-img">
                    </h4>

                    <span>
                        {{v.addtime * 1000 | date:"yyyy-MM-dd HH:mm"}}
                    </span>
                </div>
                <p>
                    <img src="./img/ico_reply.png">
                    {{v.content}}
                </p>
            </li>
        </ul>
    </div>
    <div class="error_show" ng-show="!feedbacks">
        <div>
            <img src="../img/default_list.png">
            <h4>
                暂未收到您的反馈意见
            </h4>
        </div>
    </div>
    <button class="return-history-btn" ui-sref="app.feedback">
        反馈意见
    </button>
</div>
