<div class="change-password">
    <p ng-show="type == 1">
        您未设置提现密码，请先设置。该密码为维修金提现密码，并非银行卡密码        
    </p>
    <h4>请输入新密码</h4>
    <!-- <input type="text" ng-model="password" > -->
    <div class="password-input">
        <input id="old-password" type="number" ng-model="password" ng-change="pswChanged(password);" oninput="if(value.length>6)value=value.slice(0,6)">
        <label for="old-password">
            <ul>
                <li><i ng-if="len > 0"></i></li>
                <li><i ng-if="len > 1"></i></li>
                <li><i ng-if="len > 2"></i></li>
                <li><i ng-if="len > 3"></i></li>
                <li><i ng-if="len > 4"></i></li>
                <li><i ng-if="len > 5"></i></li>
            </ul>
        </label>
    </div>
    <h4>重新输入以确认</h4>
    <!-- <input type="text" ng-model="agin_password" > -->
    <div class="password-input">
        <input id="agin-password" type="number" ng-model="agin_password" ng-change="pswChangedS(agin_password);" oninput="if(value.length>6)value=value.slice(0,6)">
        <label for="agin-password">
            <ul>
                <li><i ng-if="len_2 > 0"></i></li>
                <li><i ng-if="len_2 > 1"></i></li>
                <li><i ng-if="len_2 > 2"></i></li>
                <li><i ng-if="len_2 > 3"></i></li>
                <li><i ng-if="len_2 > 4"></i></li>
                <li><i ng-if="len_2 > 5"></i></li>
            </ul>
        </label>
    </div>
    <input class="small-button" type="button" value="确认" ng-click="goNext();">
</div>