<div class="my-card-details" ng-hide="is_verify">
<!-- <div ng-class="card_info.had_card ? 'my-card-details' : 'card-details'" ng-hide="is_verify"> -->
    <p>
        提现的金额将会汇款到以下的银行卡中, 请认真填写银行卡信息。
    </p>
    <ul>
        <li class="border-bottom border-top">
			<span class="title">
				姓名
			</span>
            <input type="text" value="哈哈哈" ng-disabled="true" placeholder="输入开户人姓名" class="ng-pristine ng-untouched ng-valid ng-not-empty" disabled="disabled">
        </li>
        <li class="border-bottom">
			<span class="title">
				开户银行
			</span>
            <select style="width: 100%;color: #a5a8a8" ng-disabled="true" class="ng-pristine ng-untouched ng-valid ng-empty"><option value="" style="color: #a5a8a8" class="" selected="selected">请选择开户银行</option></select>
            <em></em>
        </li>
        <li class="border-bottom ng-hide">
            <span class="title">
                银行名称
            </span>
            <span ng-show=""></span>
            <input type="text" placeholder="请填写银行名称" ng-model="other_bank_name" class="ng-pristine ng-untouched ng-valid ng-empty">
        </li>
        <li class="border-bottom">
			<span class="title">
				开户城市
			</span>
            <p>
                dhiso
            </p>
            <!-- <input type="text" placeholder="请选择开户城市" disabled="" value="adisajdoi" class="ng-pristine ng-untouched ng-valid ng-empty"> -->
            <em></em>
        </li>
        <li class="border-bottom border-top">
			<span class="title">
				银行卡号
			</span>
            <input type="tel" placeholder="请填写卡号" value="23131" class="ng-pristine ng-untouched ng-valid ng-empty">
        </li>
    </ul>
    <!-- ngIf: !card_info.had_card -->
    <div ng-if="!card_info.had_card" class="button ng-scope">
        <input class="small-button" type="button" value="确认添加" ng-click="isVerify();">
    </div><!-- end ngIf: !card_info.had_card -->
    <!-- ngIf: card_info.had_card -->
</div>
