<div class="update-appointment">
	<ul ng-show="status == 1">
		<li ng-click="updateTime()">
			<span>
				预约时间
			</span>
			<a href="javascript:void(0)">
				{{appointmentTime[0]}}&nbsp;&nbsp;{{appointmentTime[1]}}:{{appointmentTime[2]}}
			</a>
		</li>
		<li ng-click="selectCause()">
			<span>
				修改原因
			</span>
			<a href="javascript:void(0)">
				{{typeContent[type].text}}
			</a>
		</li>
	</ul>
	<div class="content" style="padding-left:14px;">
		<textarea ng-model="remarks" placeholder="(选填)输入备注信息"></textarea>
	</div>
	<div class="button">
		<input class="small-button" type="button" value="提交" ng-click="submit()">
	</div>
</div>
