<div class="upload-report">
	<div class="procontent">
		<img ng-src="{{productInfo.product_thumb_full}}">
		<div>
			<h4 ng-bind="productInfo.servicebrand_desc + ' ' + productInfo.product_cate_name"></h4>
			<p ng-bind="'产品规格：' + productInfo.stantard_desc"></p>
		</div>
	</div>
	<ul>
		<li ng-show="detailsInfoData.order_extend_desc">
			<span>
				工单最新进度
			</span>
			<e ng-bind="detailsInfoData.order_extend_desc"></e>
		</li>
		<li>
			<span>
				服务项目
			</span>
			<a href="javascript:void(0)" ng-click="selectService()" ng-bind="serviceProject"></a>
		</li>
		<li>
			<span>
				本次服务结果
			</span>
			<a href="javascript:void(0)" ng-click="selectServiceResult()" ng-bind="serviceResult"></a>
		</li>
	</ul>
	<div class="description" ng-show="reportEnd">
		<h4>工单报告描述</h4>
		<textarea ng-model="txtReport" placeholder="输入报告内容"></textarea>
	</div>
	<!-- <div class="vmimages" ng-repeat="v in images">{{v}}</div> -->
	<!-- <div class="vmimages" ng-repeat="v in images">{{v.url}}</div> -->
	<div class="upload-img" ng-show="reportEnd">
		<h4>上传完工照片</h4>
		<dl>
			<dd ng-repeat="url in images track by $index">
				<em ng-click="closeImg($index)"></em>
				<wx-img></wx-img>
			</dd>
			<dd ng-click="selectPartImg()" ng-show="images.length < 8">
				<img src="img/big_addphoto.png">
			</dd>
		</dl>
	</div>
	<div class="button">
		<input ng-click="submitReport()" class="small-button" type="button" value="提交服务报告">
	</div>

	<!-- <div class="popup">
		<ul>
			<li>完成服务</li>
			<li>需要更换配件</li>
			<li>完成服务</li>
			<li>需要更换配件</li>
		</ul>
	</div> -->
</div>
