<div class="bar bar-header stable-bg">
	<a href="#" class="button button-clear button-calm icon ion-ios-arrow-left"></a>
	<h1 class="title text-center">场景</h1>
</div>
<ion-content class="has-header">
	<ion-list>
		<ion-item class="row scene-m-item-p">
			<div class="col-25">
				<i class="scene-m-bg scene-m-cafe"></i>
			</div>
			<div class="col-25 text-center">
				<p>客厅</p>
				<p>用餐</p>
			</div>
			<div class="col-50 buttons-right">
				<button class="button button-calm scene-m-button">立即执行</button>
				<button class="button button-calm scene-m-button">执行</button>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg scene-m-eat"></i>
			</div>
			<div class="col-25 text-center">
				<p>客厅</p>
				<p>起床场景</p>
			</div>
			<div class="col-50 buttons-right">
				<button class="button button-calm scene-m-button">立即执行</button>
				<button class="button button-calm scene-m-button">执行</button>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg scene-m-study"></i>
			</div>
			<div class="col-25 text-center">
				<p>书房</p>
				<p>全开</p>
			</div>
			<div class="col-50 buttons-right">
				<button class="button button-calm scene-m-button">立即执行</button>
				<button class="button button-calm scene-m-button">执行</button>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg scene-m-run"></i>
			</div>
			<div class="col-25 text-center">
				<p>主卧</p>
				<p>主卧恒温</p>
			</div>
			<div class="col-50 buttons-right">
				<button class="button button-calm scene-m-button">立即执行</button>
				<button class="button button-calm scene-m-button">执行</button>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg scene-m-meeting"></i>
			</div>
			<div class="col-25 text-center">
				<p>顶级</p>
				<p>会客</p>
			</div>
			<div class="col-50 buttons-right">
				<button class="button button-calm scene-m-button">立即执行</button>
				<button class="button button-calm scene-m-button">执行</button>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
