<ion-view class="Balcony_Music-view">
    <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
        <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
        <div class="h1 title">阳台--音乐</div>
    </div>

    <ion-content class="has-header">
		<div class="area-m-balconymusic-top">
			
		</div>
		<div class="area-m-balconymusic-bottom">
			<p class="area-m-balconymusic-bottom-playing">正在播放</p>
			<div class="row area-m-balconymusic-bottom_ctr">
				<a class="area-m-balconymusic-bottom-ctr-bgi area-m-balconymusic-bottom-ctr-r"></a>
				<a class="area-m-balconymusic-bottom-ctr-bgi area-m-balconymusic-bottom-ctr-p"></a>
				<a class="area-m-balconymusic-bottom-ctr-bgi area-m-balconymusic-bottom-ctr-s"></a>
				<a class="area-m-balconymusic-bottom-ctr-bgi area-m-balconymusic-bottom-ctr-n"></a>
				<a class="area-m-balconymusic-bottom-ctr-bgi area-m-balconymusic-bottom-ctr-rf"></a>
			</div>
			<div class="range range-balanced row area-m-balconymusic-bottom_voicectr">
				<i class="col-offset-10 ion-android-volume-mute area-m-balconymusic-bottom-voicectr-v"></i>
				<i class="ion-minus-round area-m-balconymusic-bottom-voicectr-p"></i>
				<input class="col-60" type="range" name="volume">
				<i class="ion-android-volume-mute area-m-balconymusic-bottom-voicectr-v"></i>
				<i class="ion-plus-round area-m-balconymusic-bottom-voicectr-p"></i>
			</div>
		</div>
	</ion-content>
</ion-view>