<ion-view class="LRoom_light-view">
    <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
        <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
        <div class="h1 title">餐厅-双向调光</div>
    </div>
    <ion-content class="has-header" style="background: #e4e4e4">
        <ion-item>
            <div class="row">
                <div class="col">
                    <button ng-click="light.button1()">
                        <img src="img/LRoom_light-01.jpg">
                    </button>
                </div>
                <div class="col">
                    <button ng-click="light.button2()">
                        <img src="img/LRoom_light-03.jpg">
                    </button>
                </div>
                <div class="col">
                    <button ng-click="light.button3()">
                        <img src="img/LRoom_light-02.jpg">
                    </button>
                </div>
            </div>
        </ion-item>
        <div class="item range range-calm">
            <input ng-change="light.valueChange(light.value)" type="range" name="volume" min="0" max="100" ng-model="light.value">
        </div>
        <div class="col" style="text-align: center;">
            <img src="img/DRoom_light.jpg">
        </div>
        <div class="row">
            <div class="col">
                <i ng-click="light.minus()" class="icon ion-minus-round"></i>
            </div>
            <div class="col">
                <i ng-click="light.plus()" class="icon ion-plus-round"></i>
            </div>
        </div>
    </ion-content>
</ion-view>