<ion-view class="MRoom-view" style="background: #e4e4e4;">
    <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
        <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
        <div class="h1 title">主卧-排气扇</div>
    </div>
    <ion-content class="has-header">
        <ion-item>
            <div class="row">
                <div class="col-33">
                    <span>查询日期</span>
                </div>
                <div class="col-67">
                    <input type="date"ng-model="myDate">
                    <md-contetnt>
                        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

                    </md-contetnt>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="row">
                <div class="col-33">
                    <span>昨日用电量</span>
                </div>
                <div class="col-67">
                    <input type="text" value="0.7"><span>KW.h</span>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <p>最近一周用电量（KW.h）<span>2.07</span></p>
            <p>当月用电量（KW.h）<span>23.18</span></p>
        </ion-item>
        <h3 style="padding: 0 8px;">电力计量</h3>
    </ion-content>
</ion-view>