<ion-view class="TypeManage-view">
    <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
        <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
        <div class="h1 title">类型</div>
    </div>
    <ion-content class="has-header">
        <div class="row" ui-sref="Light">
            <div class="col col-25">
                <img src="img/Type-01.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>灯光</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Socket">
            <div class="col col-25">
                <img src="img/Type-02.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>插座</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Curtain">
            <div class="col col-25">
                <img src="img/Type-03.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>窗帘</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Electric">
            <div class="col col-25">
                <img src="img/Type-04.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>电器</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Monitor">
            <div class="col col-25">
                <img src="img/Type-05.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>监控</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Sensor">
            <div class="col col-25">
                <img src="img/Type-06.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>传感器</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Security">
            <div class="col col-25">
                <img src="img/Type-07.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>安防</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Music">
            <div class="col col-25">
                <img src="img/Type-08.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>背景音乐</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
        <div class="row" ui-sref="Other">
            <div class="col col-25">
                <img src="img/Type-09.jpg">
            </div>
            <div class="col" style="line-height: 55px;">
                <span>其他</span>
            </div>
            <div class="col" style="text-align: right;line-height: 55px;">
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
        </div>
    </ion-content>
</ion-view>