<ion-view view-title="代办业务">
    <div class="bar bar-header header-h">
        <a class="button  icon ion-ios-arrow-left button-clear"  ng-click="$ionicGoBack()" style="margin: 0 0 0 10px;"></a>
        <div class="h1 title">代办业务</div>
    </div>
    <ion-content class="has-header">
         <div class="AsImg">
             <img src="img/daiban_02.png">
         </div>

        <!--<div class="list-Group" ng-repeat="list in lists">-->
            <!--<div class="list-H col-25">-->
                <!--<h3 class="{{list.H3Class}}">{{list.h3}}</h3>-->
            <!--</div>-->
            <!--<div class="list-span col-25">-->
                <!--<span>{{list.span}}</span>-->
                <!--<p>{{list.p}}</p>-->
            <!--</div>-->
            <!--<div class="list-img col-50">-->
                <!--<img ng-src="{{list.ListSrc}}">-->
            <!--</div>-->
        <!--</div>-->

        <div class="list-Group"  ng-click="aAlert()">
                <div class="list-H col-25">
                    <h3 class="listHOne">{{lists.h1H3}}</h3>
                </div>
                <div class="list-span col-25">
                    <span>{{lists.span1}}</span>
                    <p>{{lists.p1}}</p>
                </div>
                <div class="list-img col-50">
                    <img ng-src="{{lists.ListSrc1}}">
                </div>
        </div>
        <div class="list-Group" ng-click="aAlert()">
            <div class="list-H col-25">
                <h3 class="listHTwo">{{lists.h2H3}}</h3>
            </div>
            <div class="list-span col-25">
                <span>{{lists.span2}}</span>
                <p>{{lists.p2}}</p>
            </div>
            <div class="list-img col-50">
                <img ng-src="{{lists.ListSrc2}}">
            </div>
        </div>



        <div class="list-Group"  ng-click="aAlert()">
            <div class="list-H col-25">
                <h3 class="listHThree">{{lists.h3H3}}</h3>
            </div>
            <div class="list-span col-25">
                <span>{{lists.span3}}</span>
                <p>{{lists.p3}}</p>
            </div>
            <div class="list-img col-50">
                <img ng-src="{{lists.ListSrc3}}">
            </div>
        </div>

        <div class="list-Group" ng-click="aAlert()">
            <div class="list-H col-25">
                <h3 class="listHFour">{{lists.h4H3}}</h3>
            </div>
            <div class="list-span col-25">
                <span>{{lists.span4}}</span>
                <p>{{lists.p4}}</p>
            </div>
            <div class="list-img col-50">
                <img ng-src="{{lists.ListSrc4}}">
            </div>
        </div>

        <div class="list-Group" ng-click="aAlert()">
            <div class="list-H col-25">
                <h3 class="listHFive">{{lists.h5H3}}</h3>
            </div>
            <div class="list-span col-25">
                <span>{{lists.span5}}</span>
                <p>{{lists.p5}}</p>
            </div>
            <div class="list-img col-50">
                <img ng-src="{{lists.ListSrc5}}">
            </div>
        </div>
        <!--<div class="list-Group">-->
            <!--<div class="list-H col-25">-->
                <!--<h3 >保险</h3>-->
            <!--</div>-->
            <!--<div class="list-span col-25">-->
                <!--<span>安全、保障</span>-->
                <!--<p>做到最好,为你安心</p>-->
            <!--</div>-->
            <!--<div class="list-img col-50">-->
                <!--<img src="img/daiban2.png">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="list-Group">-->
            <!--<div class="list-H col-25">-->
                <!--<h3>绿标</h3>-->
            <!--</div>-->
            <!--<div class="list-span col-25">-->
                <!--<span>正宗、效率</span>-->
                <!--<p>让您车畅通无阻</p>-->
            <!--</div>-->
            <!--<div class="list-img col-50">-->
                <!--<img src="img/daiban3.png">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="list-Group">-->
            <!--<div class="list-H col-25">-->
                <!--<h3 >过户</h3>-->
            <!--</div>-->
            <!--<div class="list-span col-25">-->
                <!--<span>专业、安全</span>-->
                <!--<p>让您放心、省心</p>-->
            <!--</div>-->
            <!--<div class="list-img col-50">-->
                <!--<img src="img/daiban4.png">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="list-Group">-->
            <!--<div class="list-H col-50">-->
                <!--<h3>换证服务预订</h3>-->
            <!--</div>-->
            <!--<div class="list-img col-50">-->
                <!--<img src="img/daiban5.png">-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>