<ion-view view-title="全顺">
    <div class="bar bar-header header-h">
        <a class="button button-clear icon ion-android-person button-positive" href="#/Person"></a>
        <h1 class="h1 title">全顺</h1>
        <a class="button button-clear button-positive icon ion-navicon-round" href="#/AgentService"></a>
    </div>
    <ion-content class="has-header" zooming="true" direction="xy">
        <!--<img src="img/Route.jpg">-->
        <div id="Pmap" style="height: 678px"></div>
    </ion-content>
    <ion-footer-bar>
        <div class="row oder-foot foot-f">
                <a class="button button-positive icon ion-ios-plus-outline  oder-foot-btn oder-foot-first" href="#/Booked"></a>
                <a href="#/OneKeyOderLater" class="button button-positive  oder-foot-btn" style="width: 55%">
                    <span>一键下单</span>
                </a>
            <a href="#/DaiJiao" class="button button-balanced  daijiaobtn">代叫</a>
        </div>
    </ion-footer-bar>
</ion-view>