<ion-view>
	<ion-tabs class="tabs-icon-top tabs-color-active-calm">
	    <ion-tab title="接单" icon-on="ion-android-car" icon-off="ion-android-car" ui-sref="orderTabs.receiveOrder.inform">
	        <ion-nav-view animation="slide-left-right" name="orderTabs-receiveOrder"></ion-nav-view>
	    </ion-tab>
	    <ion-tab title="我的订单" icon-on="ion-clipboard" icon-off="ion-clipboard" ui-sref="orderTabs.TaskNotice">
	        <ion-nav-view animation="slide-left-right" name=""></ion-nav-view>
	    </ion-tab>
	</ion-tabs>
</ion-view>