<div class="bar bar-header stable-bg">
	<a href="#" class="button button-clear button-calm icon ion-ios-arrow-left"></a>
	<h1 class="title text-center">任务</h1>
</div>
<ion-content class="has-header">
	<ion-list>
		<ion-item class="row scene-m-item-p">
			<div class="col-25">
				<i class="scene-m-bg task-m-getup"></i>
			</div>
			<div class="col-25 text-center">
				<p>客厅</p>
				<p>起床</p>
			</div>
			<div class="col-25">
			</div>
			<div class="col-25">
				<label class="scene-m-toggle toggle toggle-calm">
		        	<input type="checkbox">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
			     </label>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg task-m-sleep"></i>
			</div>
			<div class="col-25 text-center">
				<p>主卧</p>
				<p>主卧恒温</p>
			</div>
			<div class="col-25">
			</div>
			<div class="col-25">
				<label class="scene-m-toggle toggle toggle-calm">
		        	<input type="checkbox">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
			     </label>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg task-m-qy"></i>
			</div>
			<div class="col-25 text-center">
				<p>主卧</p>
				<p>起夜任务</p>
			</div>
			<div class="col-25">
			</div>
			<div class="col-25">
				<label class="scene-m-toggle toggle toggle-calm">
		        	<input type="checkbox">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
			     </label>
			</div>
		</ion-item>
		<ion-item class="row">
			<div class="col-25">
				<i class="scene-m-bg task-m-home"></i>
			</div>
			<div class="col-25 text-center">
				<p>顶级</p>
				<p>回家任务</p>
			</div>
			<div class="col-25">
			</div>
			<div class="col-25">
				<label class="scene-m-toggle toggle toggle-calm">
		        	<input type="checkbox">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
			     </label>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
