<ion-side-menus>
	<div class="bar bar-header stable-bg">
		<a href="javascript:history.back(0)" class="button button-clear button-calm icon ion-ios-arrow-left"></a>
		<h1 class="title text-center">主卧</h1>
		<a menu-toggle="left" class="button button-clear button-dark icon ion-android-apps"></a>
	</div>

	<ion-view>
		<ion-side-menu-content>
			<ion-content class="has-header">
				<div class="area-m-livingroom-bg">
					<button class="button button-calm area-m-dining-button">布防</button>
					<button class="button button-calm area-m-dining-button">撤防</button>
				</div>

				<div class="area-m-livingroom-title">灯光</div>
				<ion-list>
					<ion-item class="row scene-m-item-p">
						<div class="col-25">
							<i class="area-m-livingroom-bgi area-m-bedsit-bgi"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>台灯</p>
						</div>
						<div class="col-50 buttons-right">
							<button class="button button-calm scene-m-button">打开</button>
							<button class="button button-calm scene-m-button">关闭</button>
						</div>
					</ion-item>
					<ion-item class="row scene-m-item-p">
						<div class="col-25">
							<i class="area-m-livingroom-bgi area-m-bedsit-bgi"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>床头灯</p>
						</div>
						<div class="col-50 buttons-right">
							<button class="button button-calm scene-m-button">打开</button>
							<button class="button button-calm scene-m-button">关闭</button>
						</div>
					</ion-item>
				</ion-list>

				<div class="area-m-livingroom-title">插座</div>
				<ion-list>
					<ion-item class="row scene-m-item-p">
						<div class="col-25">
							<i class="area-m-balcony-bgi area-m-balcony-bgi1"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>排气扇</p>
						</div>
						<div class="col-50 buttons-right">
							<button class="button button-calm scene-m-button scene-m-button-left">开机</button>
							<button class="button button-calm scene-m-button scene-m-button-left">关闭</button>
							<button ui-sref="MRoom" class="button button-calm scene-m-button scene-m-button-left">&gt;&gt;</button>
						</div>
					</ion-item>
				</ion-list>

				<div class="area-m-livingroom-title">窗帘</div>
				<ion-list>
					<div ui-sref="MR_Curtain" class="row item scene-m-item-p">
						<div class="col-25">
							<i class="area-m-diningroom-bgi area-m-diningroom-bgie"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>对开窗帘</p>
						</div>
						<div class="col-25 text-center">
							<span class="area-m-diningroom-percent">{{bedroom_curtain_value}}%</span>
						</div>
						<div class="col-25">
							<i class="area-m-index-num button button-clear button-calm ion-chevron-right area-m-fzr"></i>
						</div>
					</div>
				</ion-list>

				<div class="area-m-livingroom-title">电器</div>
				<ion-list>
					<ion-item class="row scene-m-item-p">
						<div class="col-25">
							<i class="area-m-balcony-bgi area-m-balcony-bgi1"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>空调</p>
						</div>
						<div class="col-50 buttons-right">
							<button class="button button-calm scene-m-button scene-m-button-left">开机</button>
							<button class="button button-calm scene-m-button scene-m-button-left">{{bedroom_airc_value}}&#176;C</button>
							<button ui-sref="MR_Air" class="button button-calm scene-m-button scene-m-button-left">&gt;&gt;</button>
						</div>
					</ion-item>
					<ion-item class="row scene-m-item-p">
						<div class="col-25">
							<i class="area-m-balcony-bgi area-m-balcony-bgi1"></i>
						</div>
						<div class="col-25 text-center">
							<p>主卧</p>
							<p>DVD</p>
						</div>
						<div class="col-50 buttons-right">
							<button class="button button-calm scene-m-button scene-m-button-left">菜单</button>
							<button class="button button-calm scene-m-button scene-m-button-left">确认</button>
							<button ui-sref="MR_DVD" class="button button-calm scene-m-button scene-m-button-left">&gt;&gt;</button>
						</div>
					</ion-item>
				</ion-list>

				<div class="area-m-livingroom-title">监控</div>
			</ion-content>
		</ion-side-menu-content>	

		<ion-side-menu side="left" width="280" is-enabled="true">
			<ion-tabs class="tabs-top tabs-positive">
				<ion-tab title="场景">
					<ion-view>
						<ion-content class="positive-bg">
							<div class="text-center sidemenu-span">
								当前模式: 无
							</div>
							<div class="item row scene-m-item-p">
								<div class="col-25">
									<i class="scene-m-bg task-m-getup"></i>
								</div>
								<div class="col-25 text-center">
									<button class="button button-clear button-dark">主卧恒温</button>
								</div>
								<div class="col-25">
								</div>
								<div class="col-25">
									<label class="scene-m-toggle toggle toggle-calm">
							        	<input type="checkbox">
							        	<div class="track">
							        		<div class="handle"></div>
							       		</div>
								     </label>
								</div>
							</div>
					 	</ion-content>
					</ion-view>
				</ion-tab>
				<ion-tab title="任务">
					<ion-view>
						<ion-content class="positive-bg">

					 	</ion-content>
					</ion-view>
				</ion-tab>
			</ion-tabs>
		</ion-side-menu>
	</ion-view>
</ion-side-menus>
