<ion-side-menus>
    <ion-view class="SecurityManage-view">
        <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
            <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
            <div class="h1 title">安防</div>
            <a  menu-toggle="left" class="button button-clear icon ion-android-apps"style="margin-left: 10px;color: #000;"></a>
        </div>
        <ion-side-menu side="left" width="250">
            <ion-content class="has-header" style="background: #00a0e9;">
                <div class="center">
                    <img src="img/Security-status.jpg">
                </div>
            </ion-content>
            <ion-footer-bar class="sidemenuFoot">
                <div class="row">
                    <div class="col-50">
                        <button >
                            <img src="img/talk_back_t.jpg">
                        </button>
                    </div>
                    <div class="col-50">
                        <button >
                            <img src="img/talk_back_l.jpg">
                        </button>
                    </div>
                </div>
            </ion-footer-bar>
        </ion-side-menu>
        <ion-side-menu-content>
            <ion-content class="has-header">
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-01.jpg">
                        <!--<img ng-src="{{imgsrc}}">-->
                    </div>
                    <div class="col col-20">
                        <span>客厅</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <!--<button class="button-clear " ng-class="{'isClick disable-pointer-events':!flag}"  ng-click="addSecurity()">布防</button>-->
                        <!--<button class="button-clear" ng-class="{'isClick disable-pointer-events':flag}"ng-click="removeSecurity()">撤防</button>-->
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>餐厅</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-01.jpg">
                    </div>
                    <div class="col col-20">
                        <span>书房</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-01.jpg">
                    </div>
                    <div class="col col-20">
                        <span>办公区</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>主卧</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>洗手间</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>洗衣间</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>阳台</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>健身房</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <img src="img/Security-02.jpg">
                    </div>
                    <div class="col col-20">
                        <span>客卧</span>
                    </div>
                    <div class="col" style="text-align: right;line-height: 55px;">
                        <button class="button-clear">布防</button>
                        <button class="button-clear">撤防</button>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu-content>
    </ion-view>
</ion-side-menus>