<ion-view class="Host-view Setting-view" style="background: #e4e4e4;">
    <div class="bar bar-header" style="box-shadow: 0 0 3px 1px #D9D9D9;">
        <a href="javascript:history.back()" class="button button-clear icon ion-ios-arrow-back"style="margin-left: 10px;color: #00a0e9;"></a>
        <div class="h1 title">主机参数</div>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">主机日期</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">主机时间</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">用户ID</span>
                <input type="text">
            </label>
        </ion-list>
        <div class="btnbar">
            <button>设置时间</button>
        </div>
    </ion-content>
</ion-view>