<ion-header-bar class="bar bar-header">
	<h1 class="title ntextac">后台管理</h1>
	<a href="" class="button button-clear" id="dropOuts" ng-click="loginout()">退出</a>
</ion-header-bar>

<ion-content class="content has-header">
	<header>
		<img src="img/vipm01.jpg" alt="">
	</header>
	<ul class="list nvipmul">
		<li class="item"><a href="#/VipManagement">
			<div class="nbg94e3f3"><img src="img/Friends.png" alt=""></div>
			<h2>会员管理</h2>
		</a></li>
		<li class="item"><a href="#/servicem">
			<div class="nbgfda1be"><img src="img/Rocket.png" alt=""></div>
			<h2>服务管理</h2>
		</a></li>
		<li class="item"><a href="#/orderm">
			<div class="nbgfad161"><img src="img/vipm03.png" alt=""></div>
			<h2>订单管理</h2>
		</a></li>
		<li class="item"><a href="#/price_setting">
			<div class="nbg83e283"><img src="img/vipm04.png" alt=""></div>
			<h2>计价管理</h2>
		</a></li>
		<li class="item"><a href="#/payment">
			<div class="nbgf3ab3d"><img src="img/vipm05.png" alt=""></div>
			<h2>支付管理</h2>
		</a></li>
		<li class="item"><a href="#/analyzestatistics">
			<div class="nbg679ee9"><img src="img/Bar-chart.png" alt=""></div>
			<h2>分析统计</h2>
		</a></li>
		<li class="item"><a href="#/system">
			<div class="nbgeb6767"><img src="img/vipm07.png" alt=""></div>
			<h2>系统管理</h2>
		</a></li>

		<li class="item"><a href="#/ti_cash">
			<div class="nbgeb6768"><img src="img/vipm08.png" alt=""></div>
			<h2>提现管理</h2>
		</a></li>

	</ul>
</ion-content>

